

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #6a89cc;
  font-family: 'Cabin', sans-serif;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  background-image: url('https://i.postimg.cc/C5JPrh2k/pexels-rodnae-productions-8964251.jpg');
  background-size: 100%;
  image-orientation: flip;
  background-attachment: scroll;
  color: #ffcccc;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: #ffcccc;
  }
}
.blog {
  
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: #6a89cc;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-weight: 400;
  font-size: 150px;
  line-height: 1;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Dishes */

.dish {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
  }
  font-family: 'Cabin', sans-serif;
}

.post-dish {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

.posts .post-title {
  font-weight: bold;
}
.posts p {
  font-family: 'Cabin', sans-serif;
}